{%extends 'base.html'%}

{% block title %} Contact {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}
{% block body %}

<div class = "container"> 
<h3> Contact ICoder Admin</h3>
<h3> Contact ICoder Admin</h3>
<form action ="/contact/" method ="post">
{% csrf_token %}
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name = "name" aria-describedby="name">
    </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name = "email" aria-describedby="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="phone">Phone No.</label>
    <input type="phone" class="form-control" id="phone" name="phone">
  </div>
  
  <div class="form-group">
    <label for="content">Describe your issue</label>
    <textarea type="content" class="form-control" id="content" name="content" rows ="5" cols ="30">  
    </textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock body %}