{%extends 'base.html'%}

{% block title %} Search Results {% endblock title %}

{% block body %}


<div class="container">

<h2>Search results:  </h2>
{% if allPosts|length < 1 %}
<p> No search results </p>

    Your search - <b> {{query|truncatechars:78}} </b>  did not match any documents.
    Suggesitions: <br>
    <ul>
        <li> Make sure that all words are spelled correctly.</li>
        <li> Try different keywords.</li>
        <li> Try more general keywords.</li>
    </ul>

{% endif %}
{% for post in  allPosts %}
      <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article by: {{post.author}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.timeStamp}}</div>
          <p class="card-text mb-auto">{{post.content|truncatechars:500}}</p>
          <div class="my-2">
          <a href="{{post.slug}}" role = "button" class="btn btn-primary">Continue reading</a>
          </div>
        </div>
      </div>
    {% endfor %}

</div>

{% endblock body %}