{%extends 'base.html'%}

{% block title %} blogPost {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}

<div class="container my-3">
  <div class="blog-post">

    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta"> {{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>

    <p>{{post.content}}</p>
    <hr>

  </div>
  <div class="container">

    <h2>Comments: </h2>
    <form action="/blog/postComment/" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Post comments</label>
        <input type="text" class="form-control" id="comment" name="comment" placeholder="Enter comment here!! ">
      </div>
      <input type="hidden" name="postSno" value="{{post.srno}}">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% for comment in  comments%}
    <div class="row my-3">
      <div class="col-md-1">
      <img src="/static/img/user.png" class="rounded mx-auto d-block w-100 p-1" alt="Image not available!!" }>
      

      </div>
      <b><div class="col-md-11">{{comment.user.username}} </b> at  {{comment.timeStamp}}
      <div>{{comment.comment}}</div>
      </div>


    </div>
    {% endfor %}
    


  </div>



</div>



{% endblock body %}